/*------------------------------------*\
    #2. RESET
\*------------------------------------*/
*,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
a,
dl,
dt,
dd,
ol,
ul,
li {
  margin: 0;
  padding: 0;
}

*,
:active,
:focus {
  outline: none !important;
}

ul,
ol {
  list-style: none;
}

textarea {
  resize: none;
}

* {
  outline: none !important;
  box-sizing: border-box;
}

body {
  font-family: 'open_sansregular' !important;
  font-size: 12px;
  font-weight: normal;
  color: #000;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

.form-control {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.form-control:focus {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

a {
  text-decoration: none;
}

p {
  font-size: 16px;
  color: $font-primary-text;
  line-height: 24px;
  font-family: 'open_sansregular';
  font-weight: 400;
}