//====********************** Base colors variables *******************//
$primary-color: #2B91D9;
$secondary-color: #fff;
$font-primary: #000000;
$black-color: #000000;
$font-color-grey: #737373;

$bg-color-white: #fff;
$bg-color-white-light: #f5f5f4;
$bg-color-orange: #e88842;
$font-primary-text: #000;

$fnt-family-Italic: italic;

//************************** Primary button colors ***************//
$primary-btn-color: #034763;
$primary-btn-bg: #7BD9FF;
$primary-btn-border-color: #3CA2CB;
$primary-btn-active-bg: #61cffb;
$primary-btn-active-brdr-color: #2486ae;

//**====== Primary button disabled button **************//
$primary-btn-disabled-bg: #AFE6FC;
$primary-btn-disabled-color: #80A2B0;
$primary-btn-disabled-brdr-color: #90C2D6;

//************************** Secondary button ********************//
$secondary-btn-color: #3d3d3d;
$secondary-btn-bg: #e1e1e1;
$secondary-btn-border-color: #a3a3a3;
$secondary-btn-active-bg: #d1d1d1;
$secondary-btn-active-brdr-color: #797979;
//******* Secondary button disabled button *************//
$secondary-btn-disabled-bg: #E7E7E7;
$secondary-btn-disabled-color: #9E9E9E;
$secondary-btn-disabled-brdr-color: #BBBBBB;

//********************** Error for form section ******************//
$error: #ce5151;
$success: #4cc24c;
$form-label-fnt: 12px;

// Form control variables
$form-input-color: #333;
$form-input-light-grey: #999999;
$form-input-active-color: #66afe9;
$form-select-list-hover: #fff3e9;
$form-input-border-color: #CCCCCC;

//*********************** Border color **************************//
$primary-border-color: #DBDBDB;

//********************** Background color *************************//
$secondary-bg: #F9F9F9;
$highlight-dark: #2A6993;

//*********************** Fonts size variables *********************//
$fnt-family-regular: 'open_sansregular';
$fnt-family-bold: 'open_sanssemibold';
$fnt-family-italic: 'open_sansitalic';
$default-font-size: 12px;

//************************ Table variables ************************//
$table-head-bg: #c9e5f3;
$table-head-border-color: #A7C1CE;
$table-head-fnt-color: #235475;

$table-body-border-color: #D8D8D8;
$table-body-font-color: #333;
$table-body-bg-color-even: #f6fcff;
$table-body-bg-color-hover: #fff3e9;

$table-tr-active-color: #FDE1D2;

//***************** Tabs variable ******************//
$tab-bg: #009EDD;

//************************ Root Variables (CSS) ************************//
:root {
  --default-font-size: 12px;
  --color-white: #fff;
  --color-black: #000;

  --fnt-family-regular: 'open_sansregular';
  --fnt-family-bold: 'open_sanssemibold';
  --fnt-family-italic: 'open_sansitalic';

  //**************** Colors ***************//
  --primary-label-color: #034763;
  --primary-theme-color: #009EDD;

  //** Top nav color **//
  --top-nav-bar-color: #2b91d9;

  //** Action button bar **//
  --action-button-bar-bg: #2a6993;

  //** Tabs color scheme **//
  --tab-background-color: #009edd;
  --tab-border-bottom-color: #009edd;
  --tab-border-top-color: #009edd;
  --tab-border-right-color: #1D8DBA;
  --tab-text-color: #3a89c0;
  --tab-active-bg: #F9F9F9;
  --tab-active-bg-border-bottom: #F9F9F9;
  --tab-active-bg-text-color: #3a89c0;

  // Wizard tab color scheme **//
  --wizard-tab-active-bg: #55A6DF;
  --wizard-tab-active-lnk-border-color: #2B91D9;
  --wizard-tab-active-lnk-text-color: #2B91D9;
  --wizard-tab-visited-bg-color: #E9F8FF;
  --wizard-tab-visited-text-color: #3CA2CB;
  --wizard-tab-visited-link-border-color: #3CA2CB;
  --wizard-tab-visited-link-text-color: #3CA2CB;

  // Secondary tab styling **//
  --secondary-tab-actve-bg: #fff;
  --secondary-tab-bg: #009EDD;
  --secondary-tab-text-color: #fff;
  --secondary-tab-border-color: #7DC2E1;
  --secondary-tab-actve-arrow-color: #009EDD;
  --tab-secondary-active-bg: #2B91D9;
  --tab-secondary-active-color: #fff;
  --tab-secondary-panel-bg: #F6FCFF;

  // Custom secondary tab styling **//
  --tab-custom-bg-color: #009EDD;
  --tab-custom-border-color: #7DC2E1;
  --tab-custom-arrow-color: #7DC2E1;
  --tab-custom-hover-text-color: #009EDD;
  --tab-custom-text-color: #fff;

  //** Table variable scheme **//
  --table-header-border-color: #A6BFCC;
  --table-header-background-color: #c9e5f3;
  --table-header-text-color: #235475;
  --table-body-alternate-bg-color: #F5F5F5;
  --table-body-text-color: #333;
  --table-td-border-color: #C0C7CA;
  --table-body-hover-bg-color: #fff3e9;
  --table-body-hover-border-color: #d8d8d8;
  --table-header-active-bg: #1494d5;
  --table-header-active-text-color: #fff;
  --table-header-sort-icon-color: #333;
  --table-header-font-size: 12px;
  --table-header-icon-color: #1F4E79;
  --table-header-icon-option: #1494D5;
  --table-active-tr-bg: #FDE1D2;

  --table-expand-button-color: #2B91D9;

  //** Button scheme **//
  --button-bg-color: #7bd9ff;
  --button-text-color: #034763;
  --button-border-color: #3ca2cb;
  --button-hover-bg-color: #61CFFB;
  --button-hover-text-color: #034763;
  --button-hover-border-color: #2486AE;
  --button-disabled-bg: #AFE6FC;
  --button-disabled-border-color: #90C2D6;
  --button-disabled-text-color: #80A2B0;

  // Secondary button scheme **//
  --secondary-button-bg-color: #E1E1E1;
  --secondary-button-text-color: #3D3D3D;
  --secondary-button-border-color: #A3A3A3;
  --secondary-button-hover-bg-color: #D1D1D1;
  --secondary-button-hover-text-color: #3D3D3D;
  --secondary-button-hover-border-color: #797979;
  --secondary-button-disabled-bg: #E7E7E7;
  --secondary-button-disabled-border-color: #9E9E9E;
  --secondary-button-disabled-text-color: #80A2B0;

  //** Modal variables **//
  --modal-header-bg: #2B91D9;

  //** Popover variables **//
  --popover-header-text-color: #2b91d9;
  --popover-border-color: #7dc2e1;
  --popover-arrow-border-color: #7dc2e1;
  --popover-footer-divider-color: #ace3f7;

  //** Select box css **//
  --select-option-hover-color: #fff3e9;
  --select-option-hover-text-color: #212121;

  //** Input type **//
  --input-focus-color: #66afe9;
}

//********************** Admin Theme Variables *********************//
[data-theme="admin"] {
  --primary-label-color: #E88841;
  --primary-theme-color: #E88841;

  --top-nav-bar-color: #EF9F66;

  --action-button-bar-bg: #EF9F66;

  --tab-background-color: #E88841;
  --tab-border-bottom-color: #E88841;
  --tab-border-top-color: #E88841;
  --tab-border-right-color: #ffffff;
  --tab-text-color: #E88841;
  --tab-active-bg: #F9F9F9;
  --tab-active-bg-border-bottom: #F9F9F9;
  --tab-active-bg-text-color: #E88841;

  // Wizard tab color scheme **//
  --wizard-tab-active-bg: #E88841;
  --wizard-tab-active-lnk-border-color: #E88841;
  --wizard-tab-active-lnk-text-color: #E88841;
  --wizard-tab-visited-bg-color: #F4C7A6;
  --wizard-tab-visited-text-color: #000;
  --wizard-tab-visited-link-border-color: #E88841;
  --wizard-tab-visited-link-text-color: #E88841;

  --secondary-tab-actve-bg: #fff;
  --secondary-tab-bg: #E88841;
  --secondary-tab-text-color: #fff;
  --secondary-tab-border-color: #7DC2E1;
  --secondary-tab-actve-arrow-color: #E88841;
  --tab-secondary-active-bg: #E88841;
  --tab-secondary-active-color: #fff;
  --tab-secondary-panel-bg: #F6FCFF;


    //** Table variable scheme **//
    --table-header-border-color: #CFCECC;
    --table-header-background-color: #D9D9D9;
    --table-header-text-color: #000000;
    --table-body-alternate-bg-color: #F5F5F5;
    --table-body-text-color: #333;
    --table-td-border-color: #C0C7CA;
    --table-body-hover-bg-color: #fff3e9;
    --table-body-hover-border-color: #d8d8d8;
    --table-header-active-bg: #1494d5;
    --table-header-active-text-color: #fff;
    --table-header-sort-icon-color: #333;
    --table-header-font-size: 12px;
    --table-header-icon-color: #1F4E79;
    --table-header-icon-option: #1494D5;
    --table-active-tr-bg: #FDE1D2;
  
    --table-expand-button-color: #2B91D9;
}

[data-theme="green"] {
  //**************** colors*************** **//
  --primary-label-color: #00794F;
  --primary-theme-color: #00915A;
  //**************** colors ends here*************** **//

  //** top nav color
  --top-nav-bar-color: #00915A;
  //** top nav color ends here

  //** action button bar css here
  --action-button-bar-bg: #D0D9D5;
  //** action button bar css ends here

  //** tabs color scheme here 
  --tab-background-color: #019964;
  --tab-border-bottom-color: #019964;
  --tab-border-top-color: #019964;
  --tab-border-right-color: #00664D;
  --tab-text-color: #00664D;
  --tab-active-bg: #F9F9F9;
  --tab-active-bg-border-bottom: #02744D;
  --tab-active-bg-text-color: #fff;

  // wizard tab color scheme here
  --wizard-tab-active-bg: #018145;
  --wizard-tab-active-lnk-border-color: transparent;
  --wizard-tab-active-lnk-text-color: #039B67;
  --wizard-tab-visited-bg-color: #ACCFBE;
  --wizard-tab-visited-text-color: #000;
  --wizard-tab-visited-link-border-color: #018145;
  --wizard-tab-visited-link-text-color: #018145;


  //******* Secondary tab styling *******
  --secondary-tab-actve-bg: #fff;
  --secondary-tab-bg: #E8FCF2;
  --secondary-tab-text-color: #00915A;
  --secondary-tab-border-color: #00915A;
  --secondary-tab-actve-arrow-color: #fff;
  --tab-secondary-active-bg: #00915A;
  --tab-secondary-active-color: #fff;
  --tab-secondary-panel-bg: #E8FCF2;
  //******* Secondary tab styling ends *******

  //******* tertiary tab styling ends *******
  --tab-tertiary-text-color: #00915A;
  --tab-tertiary-border-bottom-color: #00915A;
  //******* tertiary tab styling ends *******

  //******* custom seconary tab styling ends *******
  --tab-custom-bg-color: #E8FCF2;
  --tab-custom-border-color: #00915A;
  --tab-custom-arrow-color: #00915A;
  --tab-custom-hover-text-color: #00915A;
  --tab-custom-text-color: #00915A;
  //******* custom seconary styling ends *******

  //** table variable scheme
  --table-header-border-color: #414A4C;
  --table-header-background-color: #535E60;
  --table-header-text-color: #fff;
  --table-header-font-size: 12px;
  --table-header-icon-color: #fff;
  --table-header-icon-option: #fff;
  --table-header-active-bg: #232829;
  --table-header-active-text-color: #fff;
  --table-header-sort-icon-color: #fff;
  --table-body-alternate-bg-color: #E0E9EC;
  --table-body-hover-bg-color: #FFFCCD;
  --table-body-hover-border-color: #d8d8d8;
  --table-active-tr-bg: #FFFCCD;
  --table-td-border-color: #C0C7CA;
  --table-body-text-color: #000;

  --table-expand-button-color: #00915A;

  //** table variable scheme ends here

  //** button scheme goes here **//
  --button-bg-color: #00915A;
  --button-text-color: #fff;
  --button-border-color: #007046;

  --button-hover-bg-color: #007046;
  --button-hover-text-color: #fff;
  --button-hover-border-color: #005736;

  --button-disabled-bg: #ABE3CD;
  --button-disabled-border-color: #79D8B3;
  --button-disabled-text-color: #FFFFFF;
  //** button scheme goes ends here **//



  //*******   Modals variables here *********** **//
  --modal-header-bg: #00915A;
  //*******   Modals variables ends here *********** **//

  //*******   Popover variables here *********** **//
  --popover-header-text-color: #00915A;
  --popover-border-color: #ABE3CD;
  --popover-arrow-border-color: #ABE3CD;
  --popover-footer-divider-color: #DBDBDB;
  //*******   Popover variables ends here *********** **//

  //*********** select Box css  **********//
  --select-option-hover-color: #FFFCCD;
  --select-option-hover-text-color: #212121;
  //*********** select Box ends css  **********//

  //*********** Input type ****************//
  --input-focus-color: #6E6E6E;
  //*********** Input ends type ****************//
}