  .control-label {
    font: 400 var(--default-font-size) / 14px "open_sansregular";
    padding-right: 10px;
    display: inline-block;
    color: #000;
  }

  .mandatory:after {
    content: "*";
    color: #FB6E6D;
    margin-left: 2px;
    font-size: 11px;
  }

  input:focus,
  textarea:focus {
    box-shadow: none;
    border-color: var(--input-focus-color) !important;
  }

  input:hover,
  .p-inputtext:enabled:hover {
    box-shadow: none;
    // border-color: #66afe9 !important;
    border-color: #ccc;
  }

  .labled-input {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    label {
      margin-bottom: 4px;
      font-weight: 400;
      font-size: var(--default-font-size);
      line-height: 14px;
    }

    input {
      font-size: 12px;
    }
  }

  .input-container {
    // padding: 6px 10px;

    .p-dropdown.p-component {
      border-left: 0px;
      margin: 0px;
      border-radius: 0px;

      .p-dropdown-trigger {
        width: 18px;
      }
    }
  }



  .p-inputgroup {
    .p-inputgroup-addon {
      padding: 0px 7px;
      height: 24px;
      background: #fff;
      min-width: 0px;
      cursor: pointer;

      .icons-search:before {
        font-size: 12px;
        color: #D6D6D6;
      }

      .icons-browse:before {
        font-size: 4px;
        color: #000;
      }
    }

    .p-inputgroup-addon:first-child {
      padding-right: 0px;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      pointer-events: none;
    }

    .p-inputgroup-addon:last-child {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }

    .p-inputgroup-addon+input {
      border-left: 0px;
      padding-left: 4px;
      border-radius: 0px;

      &:hover,
      &:focus {
        border-left: 1px solid #3B82F6;
      }

      &:last-child {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
    }

    input[type="text"] {
      padding: 1px .75rem 1px 5px;
      height: 24px;
      background: #fff;
      font-size: 12px;
    }

    &.disabled {

      .p-inputgroup-addon,
      input[type=text] {
        background: #EEE;
        border-color: #ccc;
        pointer-events: none;
      }
    }
  }

  .p-input-icon-left {
    display: flex;
    align-items: center;

    .icon {
      left: 7px;
      bottom: 6px;
      position: absolute;
    }

    .icon-search:before {
      font-size: 12px;
      color: #D6D6D6;
    }

    input[type="text"] {
      padding: 4px 2px 4px 21px;
      height: 24px;
      background: #fff;
      width: 100%;
      font-size: var(--default-font-size);
    }

    .p-dropdown-label {
      padding-right: 0;
    }
  }

  input[type="text"],
  input[type="number"] {
    padding: 4px 8px;
    height: 24px;
    background: #fff;
    border: 1px solid #CCCCCC;
    border-radius: 3px;

    &::-webkit-input-placeholder {
      color: #999999 !important;
      font-weight: 400 !important;
      font-size: var(--default-font-size);
      font-style: italic;
    }

    &::-moz-placeholder {
      /* Firefox 19+ */
      color: #999999 !important;
      font-weight: 400 !important;
      font-size: var(--default-font-size);
      font-style: italic;
    }

    &:-ms-input-placeholder {
      /* IE 10+ */
      color: #999999 !important;
      font-weight: 400 !important;
      font-size: var(--default-font-size);
      font-style: italic;
    }

    &:-moz-placeholder {
      /* Firefox 18- */
      color: #999999 !important;
      font-weight: 400 !important;
      font-size: var(--default-font-size);
      font-style: italic;
    }

  }

  .p-calendar-w-btn .p-inputtext {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }

  .p-button.p-button-icon-only {
    width: auto;
    padding: 3px 6px;
    background: #fff;
    color: #454545;
    border-color: #CCCCCC;
    border-left: 0px;
    border-radius: 0px 4px 4px 0px;

    .p-button-icon:before {
      color: #454545;
      // font-family: "emrfonts" !important;
      content: "\e92d";
    }
  }

  .p-calendar-timeonly {
    .p-button.p-button-icon-only {
      .p-button-icon:before {
        color: #454545;
        // font-family: "emrfonts" !important;
        content: "\e819";
      }
    }
  }

  .p-datepicker {
    .p-timepicker span {
      font-size: 14px;
    }

    .p-timepicker button {
      width: 1rem;
      height: 1rem;
      color: #454545;
    }
  }


  .p-dropdown.p-component {
    height: 24px;
    border-radius: 4px;
    border: 1px solid #CCCCCC;
    width: 100%;
    background: #FFF;

    &.p-disabled {
      background: #EEEEEE !important;
      border: 1px solid #CCCCCC;
      opacity: 1;
      pointer-events: auto !important;
      cursor: no-drop !important;
    }

    .p-dropdown-trigger {
      background: transparent;
      color: #6c757d;
      width: 3rem;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      width: 24px;

      &::before {
        margin-top: 0;
        font-size: 10px !important;
        width: 10px;
        height: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        content: "\e916";
        font-family: 'ang-pharmacy-wrapper' !important;
        color: #454545;
        vertical-align: middle;
      }

      chevrondownicon.p-element.p-icon-wrapper {
        display: none;
      }
    }

    .pi-chevron-down {
      margin-top: -2px;
    }

    .pi-chevron-down:before {
      content: "\e920";
      font-family: 'doc-management' !important;
      font-size: 4px;
      color: #454545;
      vertical-align: middle;
    }

    .p-dropdown-panel .p-dropdown-items {
      padding: 0px;

      .p-dropdown-item {
        padding: 4px 10px;
        color: var(--select-option-hover-text-color);
        list-style: none;
        font-size: var(--default-font-size);
        border-bottom: 1px solid #ddd;
        font-weight: 400;
        list-style-position: inside;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;

        &:hover {
          background: var(--select-option-hover-color) !important;
          color: var(--select-option-hover-text-color) !important;
        }
      }
    }
  }

  .has-error .p-dropdown.p-component {
    border-color: #FC695C;
  }

  .p-dropdown-panel .p-dropdown-items {
    padding: 0px;

    .p-dropdown-item {
      padding: 4px 8px;
      color: #555;
      list-style: none;
      font-size: var(--default-font-size);
      border-bottom: 1px solid #ddd;
      font-weight: 400;
      list-style-position: inside;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:hover {
        background: #fff3e9 !important;
        color: #000 !important;
      }
    }
  }

  .p-dropdown-label {
    padding: 3px 8px;
    font-size: 12px;
    color: #333333;
    // display: flex; commented for truncation logic
    align-items: center;
    font-family: "open_sansregular";
    display: block;

    &.p-placeholder {
      color: #999999;
      font-style: italic;
    }
  }

  .p-dropdown-label.p-placeholder {
    color: #000;
    font-style: normal;
  }

  .p-component {
    font-family: "open_sansregular";
    font-size: 12px;
  }

  input[type="radio"]:focus {
    outline: none !important;
  }

  input.ng-invalid.ng-touched,
  textarea.ng-invalid.ng-touched,
  .ng-submitted input.ng-invalid {
    border: 1px solid #FC695C;
  }

  .ng-submitted input.ng-invalid+.p-inputgroup-addon {
    border-color: #FC695C;
  }

  .errorText {
    color: #FB6E6D;
    font-size: var(--default-font-size);
    font-style: italic;
    font-weight: 400;
    line-height: 14px;
    margin-top: 2px;
  }

  .emr-textarea {
    width: 100%;
    resize: none;
    border-color: #CCCCCC;
    border-radius: 4px;
    font-family: "open_sansregular";
    font-style: normal;
    font-weight: 400;
    font-size: var(--default-font-size);
    line-height: 14px;
    color: #000;
    padding: 6px 8px;

    &.w318 {
      width: 318px;
    }

    &:focus {
      box-shadow: none;
      border-color: var(--input-focus-color)
    }

    &::placeholder {
      color: #999999;
      font-style: italic;
    }
  }

  .lookup-3 {
    input {
      border-radius: 3px 0 0 3px;

      &:focus+p-dropdown {
        .p-dropdown.p-component {
          border-color: var(--input-focus-color) !important
        }
      }
    }

    input+p-dropdown {
      .p-dropdown.p-component {
        border-radius: 0 3px 3px 0;
        border-left: none;

        .p-dropdown-trigger::before {
          color: #333333;
        }
      }
    }

  }

  p-dropdown {
    .p-dropdown-open .p-overlay {
      top: 23px !important;
      max-width: 100%;
    }
  }

  /* Dropdown common CSS START */
  button:focus,
  .p-inputtext:enabled:focus,
  .p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
    box-shadow: none;
  }

  .p-inputgroup .p-inputgroup-addon+input:hover,
  .p-inputgroup .p-inputgroup-addon+input:focus,
  .p-inputgroup .p-inputgroup-addon+input:focus+.p-inputgroup-addon {
    border-left: none;
    border-color: var(--input-focus-color) !important;
  }

  .p-dropdown:not(.p-disabled).p-focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none;
  }

  .p-dropdown:not(.p-disabled).p-dropdown-open {
    border-color: var(--input-focus-color) !important;
  }

  .p-dropdown.p-component .p-dropdown-panel .p-dropdown-items {
    border: 1px solid #DBDBDB;
    border-bottom: none;
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.18);
    border-radius: 4px;
  }

  .p-dropdown.p-component .p-dropdown-panel .p-dropdown-items p-dropdownitem:first-child,
  .p-dropdown.p-component .p-dropdown-panel .p-dropdown-items p-dropdownitem:first-child li {
    border-radius: 3px 3px 0 0;
  }

  .p-dropdown.p-component .p-dropdown-panel .p-dropdown-items p-dropdownitem:last-child,
  .p-dropdown.p-component .p-dropdown-panel .p-dropdown-items p-dropdownitem:last-child li {
    border-radius: 0 0 3px 3px;
  }

  .p-dropdown.p-component .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
    height: 24px;
    background: #FFF;
  }

  .p-inputwrapper-focus {
    .p-overlay {
      top: 23px !important;
      max-width: 100%;
    }
  }

  /* END Dropdown common CSS */

  .p-tooltip {
    width: max-content !important;
    max-width: max-content !important;
  }

  .p-tooltip .p-tooltip-arrow {
    border-bottom-color: transparent !important;
  }

  .p-tooltip .p-tooltip-text {
    background-color: #FFF;
    color: #495057;
    border: 1px solid #A7C1CE;
    font-size: var(--default-font-size);
    padding: 6px;
  }

  .p-tooltip .p-tooltip-arrow:before,
  .p-tooltip .p-tooltip-arrow:after {
    top: 100%;
    left: 0%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(211, 211, 211, 0);
  }

  .p-tooltip .p-tooltip-arrow:before {
    border-bottom-color: #A7C1CE;
    border-width: 6px;
    margin-top: -7px;
    margin-left: -5px;
  }

  .p-tooltip .p-tooltip-arrow:after {
    border-bottom-color: #fff;
    border-width: 7px;
    margin-top: -7px;
    margin-left: -6px;
  }

  .p-tooltip.p-tooltip-top .p-tooltip-arrow {
    border-bottom-color: transparent;
    border-top-color: transparent;
  }

  .p-tooltip.p-tooltip-top .p-tooltip-arrow:before,
  .p-tooltip.p-tooltip-top .p-tooltip-arrow:after {
    border-bottom-color: transparent;
    top: 0%;
    bottom: 10%;
    margin-top: -5px;
  }

  .p-tooltip.p-tooltip-top .p-tooltip-arrow:before {
    border-top-color: #A7C1CE;
    border-width: 7px;
    margin-bottom: -20px;
    margin-left: -6px;

  }

  .p-tooltip.p-tooltip-top .p-tooltip-arrow:after {
    border-top-color: #fff;
    border-width: 6px;
    margin-bottom: -20px;
    margin-left: -5px;
  }