//********************white tooltip as per EMR styling****************//

.p-overlaypanel {
  box-shadow: 0px 0px 5px 0px rgba(29, 29, 29, 0.26);

  .p-overlaypanel-content {
    padding: 9.5px 10px;
    max-height: 100px;
    overflow-y: auto;
  }

  &::after {
    border-width: 7px;
    margin-left: -7px;
  }

  &::before {
    border-width: 4px 8px;
    margin-left: -8px;
  }

  &::after,
  &::before {
    left: calc(var(--overlayArrowLeft, 0) + 0.8rem);
  }
}

/* Customizing the Confirm Dialog Box */
.ui-confirmdialog,
.p-confirm-dialog {
  padding: 0;
  font-size: 12px;
}

/* Customizing Header */
.p-confirm-dialog {
  .p-confirm-dialog-message {
    margin-left: 8px;
  }

  .p-dialog-header {
    padding: 0px 10px;
    background-color: var(--primary-theme-color);
    color: #fff;

    .p-dialog-title {
      font-size: 12px;
    }


  }
}

/* Customizing the message */
.p-confirm-dialog .p-dialog-content {
  padding: 16px;

  .icon {
    font-size: 16px;
  }
}


.p-confirm-dialog .p-dialog-footer {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  padding: 8px 16px;
  border-top: 1px solid #d6d6d6;
}