.border-radius-50per {
  border-radius: 50% !important;
}

.border-separator-right {
  border-right: 1px solid $primary-border-color;
}

.border-separator-left {
  border-left: 1px solid $primary-border-color;
}

.border-separator-bottom {
  border-bottom: 1px solid #DBDBDB;
}

.border-separator-left {
  border-left: 1px solid #DBDBDB;
}

.border-separator-right {
  border-right: 1px solid #DBDBDB;
}

