button {
  font-family: 'open_sansregular';
}


.btn-primary {
  padding: 4.5px 10px !important;
  font-size: 12px;
  line-height: 16px;
  border-radius: 3px;
  background: var(--button-bg-color);
  border: 1px solid var(--button-border-color);
  color: var(--button-text-color);
  display: flex;
  align-items: center;
  height: 24px;
  text-wrap: nowrap;
  font-family: "open_sansregular";

  &:hover,
  &:focus {
    color: var(--button-hover-text-color);
    background-color: var(--button-hover-bg-color);
    border-color: var(--button-hover-border-color);
  }

  .icon-filter {
    width: 11px;
    height: 11px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:before {
      font-size: 11px;
      width: 11px;
      height: 11px;
    }
  }
}

.btn-primary:disabled,
.btn-primary.inactive,
.btn-primary.inactive:hover {
  background: var(--button-disabled-bg);
  border-color: var(--button-disabled-border-color);
  color: var(--button-disabled-text-color);
  cursor: not-allowed;

}

.btn-primary:disabled *:not(.keep-pointer-events),
.btn-primary.inactive *:not(.keep-pointer-events),
.btn-primary.inactive:hover *:not(.keep-pointer-events) {
  pointer-events: none;
}

.btn-secondary {
  padding: 4.5px 10px !important;
  font-size: 12px;
  line-height: 16px;
  border-radius: 3px;
  background: var(--secondary-button-bg-color);
  color: var(--secondary-button-text-color);
  border: 1px solid var(--secondary-button-border-color);
  display: flex;
  align-items: center;
  height: 24px;
  text-wrap: nowrap;
  font-family: 'open_sansregular';

  &:hover,
  &:focus {
    background: var(--secondary-button-hover-bg-color);
    color: var(--secondary-button-hover-text-color);
    border-color: var(--secondary-button-hover-border-color);
  }

  &:disabled,
  &.inactive,
  &.inactive:hover {
    background: var(--secondary-button-disabled-bg);
    color: var(--secondary-button-disabled-border-color);
    border-color: var(--secondary-button-disabled-border-color);
    cursor: not-allowed;
  }

  &:disabled *:not(.keep-pointer-events),
  &.inactive *:not(.keep-pointer-events),
  &.inactive:hover *:not(.keep-pointer-events) {
    pointer-events: none;
  }

  &.emr-btninfo {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    padding: 1px 7px !important;
    line-height: 15px;
  }

  &.min-secondary-btn {
    height: 20px;
    width: 20px;
    padding: 0px !important;
    justify-content: center;

    .icons-browse:before {
      font-size: 3px;
      vertical-align: middle;
    }
  }

  &.minW24-secondary-btn {
    width: 24px;
    padding: 2px 4px !important;
    font-size: 14px;

    .icons-text-editor {
      width: 16px;
      height: 16px;
    }

    .icons-text-editor:before,
    .icons-timestamp:before {
      font-size: 16px;
    }
  }

}

.btn-expand {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 14px;
  width: 14px;
  background: #2B91D9;
  border: none;
  border-radius: 2px;
  cursor: pointer;

  .icon {
    font-size: 8px;
    color: #fff;
  }

  &.disabled {
    opacity: 0.7;
    //pointer-events: none;
  }
}

// Split Button style 
.p-splitbutton {

  &.btn-primary,
  &.btn-secondary {
    padding-right: 0px !important;
    font-family: $fnt-family-regular;
    padding: 0 8px;
  }

  .p-splitbutton-defaultbutton {
    background: inherit;
    color: inherit;
    border: 0;
    padding: 0;
    border-radius: inherit;
    padding-right: 8px !important;
    box-shadow: none;
    font-size: 12px;
    font-weight: normal;

    .p-button-label {
      font-weight: normal;
    }
  }

  .p-splitbutton-menubutton.p-button {
    background: inherit;
    border: 0px;
    border-left: 1px solid;
    border-color: inherit;
    width: 24px;
    height: 23px;
    box-shadow: none;
    padding: 2px 6px;

    .p-button-icon.pi-chevron-down:before {
      content: "\e912";
      font-size: 12px;
      font-family: "mips-font" !important;
      vertical-align: middle;
      color: #3D3D3D;
    }
  }

  .p-tieredmenu.p-tieredmenu-overlay {
    padding: 0px;
    max-width: fit-content;
    min-width: 100%;

    p-tieredmenusub ul {
      padding-right: 0;
      border-radius: 4px;

      >li:first-child a.p-menuitem-link {
        border-radius: 4px 4px 0 0;
      }

      >li:last-child a.p-menuitem-link {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }

    .p-menuitem>.p-menuitem-link {
      background: #fff;
      padding: 4px 10px;
      color: #212121;
      list-style: none;
      font-size: 11px;
      line-height: 15px;
      border-bottom: 1px solid #ddd;
      height: 24px;
      font-family: "open_sansregular";

      .p-menuitem-text {
        color: #212121;
      }
    }

    .p-menuitem.p-menuitem-active>.p-menuitem-link {
      background: #fff3e9;
      color: #212121;

      .p-menuitem-text {
        color: #212121;
      }

    }
  }

}

.dd-w150px,
.dd-w140px {
  .p-splitbutton .p-tieredmenu.p-tieredmenu-overlay {
    width: 150px;
    max-width: unset;

    ul>li a.p-menuitem-link {
      height: auto;
      min-height: 24px;

      .p-menuitem-text {
        line-height: 15px;
      }
    }
  }
}

.dd-w140px {
  .p-splitbutton .p-tieredmenu.p-tieredmenu-overlay {
    width: 140px;
    max-width: unset;
  }
}

.dd-rgt-0 {
  .p-splitbutton .p-tieredmenu.p-tieredmenu-overlay {
    left: unset !important;
    right: 0;
  }
}

.psuedo-button {
  border: none;
  background: none;
}