//=================padding classes
.p-10px {
  padding: 10px;
}

.px-5px {
  padding-left: 5px;
  padding-right: 5px;
}

.py-5px {
  padding-top: 5px;
  padding-bottom: 5px;
}

.px-10px {
  padding-right: 10px;
  padding-left: 10px;
}

.pxy-10px {
  padding-top: 10px;
  padding-bottom: 10px;
}

.p-0 {
  padding: 0 !important;
}

.px-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.py-7px {
  padding-top: 7px !important;
  padding-bottom: 7px !important;
}

.py-10px {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.py-12px {
  padding-top: 12px;
  padding-bottom: 12px;
}

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-10px {
  padding-bottom: 10px !important;
}

.pr-10px {
  padding-right: 10px !important;
}

.pl-10px {
  padding-left: 10px !important;
}

.pb-12px {
  padding-bottom: 12px !important;
}

.pb-15px {
  padding-bottom: 15px !important;
}

//================margin classes

.mt-5px {
  margin-top: 5px;
}

.mt-10px {
  margin-top: 10px;
}

.mt-12px {
  margin-top: 12px;
}

.mt-15px {
  margin-top: 15px;
}

.mt-40px {
  margin-top: 40px;
}

.mx-5px {
  margin-left: 5px;
  margin-right: 5px;
}

.mx-10px {
  margin-left: 10px;
  margin-right: 10px;
}

.mx-40px {
  margin-left: 40px;
  margin-right: 40px;
}

.m-0 {
  margin: 0 !important;
}

.m-auto {
  margin: auto !important;
}

.mx-0 {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.my-10px {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.my-12px {
  margin-top: 12px !important;
  margin-bottom: 12px !important;
}

.my-14px {
  margin-top: 14px !important;
  margin-bottom: 14px !important;
}

.my-15px {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-auto {
  margin-top: auto !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-2px {
  margin-bottom: 2px !important;
}

.mb-15px {
  margin-bottom: 15px !important;
}

.mb-auto {
  margin-bottom: auto !important;
}

//*********************** table header sapacers**************//
.w30px {
  width: 30px;
}

.w35px {
  width: 35px;
}

.w100px {
  width: 100px;
}

.m-w100px {
  min-width: 100px;
}

.w150px {
  width: 150px;
}

.m-w150px {
  min-width: 150px;
}

.w350px {
  width: 350px;
}

.w450px {
  width: 450px;
}

.w650px {
  width: 650px;
}

.max-w1050px {
  max-width: 1260px;
}

.max-w400px {
  max-width: 400px;
}

.max-w248px {
  max-width: 248px;
}

.w-full-100px {
  width: calc(100% - 100px);
}

.table-checkbox-width {
  width: calc(100% - 97.7%);
}

.w2pr {
  width: 2%;
}

.w3pr {
  width: 3%;
}

.w4pr {
  width: 4%;
}

.w5pr {
  width: 5%;
}

.w6pr {
  width: 6%;
}

.w7pr {
  width: 7%;
}

.w8pr {
  width: 8%;
}

.w9pr {
  width: 8%;
}

.w10pr {
  width: 10%;
}

.w12pr {
  width: 12%;
}

.w14pr {
  width: 14%;
}

.w16pr {
  width: 16%;
}

.w18pr {
  width: 18%;
}

.w20pr {
  width: 20%;
}

.w22pr {
  width: 22%;
}

.w24pr {
  width: 24%;
}

.w26pr {
  width: 24%;
}

.w80pr {
  width: 80%;
}

.w90pr {
  width: 90%;
}

