<div class="bg-primary px-[10px] py-[5px] font-bold text-[14px] text-white">Dashboard</div>
<div class="mt-4">
  <p-tabView styleClass="emr-primary-tabs" class="overflow-hidden " [activeIndex]="activeTabIndex">
    <p-tabPanel header="Driver">
      <ng-template pTemplate="content">
        <section class="simple-table">
          <lib-simple-table [tableOptions]="tableOptions" [showPagination]="true" [showPaginationPanel]="true"
            [buttonPanel]="true" [tableHeight]="'calc(100vh - 172px)'">
            <!-- Table Header -->

            <ng-container ecw-theader class="ecw-theader" #firstTable>
              <tr>

                <th class="align-top " *ngFor="let item of tableSettings" [ngStyle]="item"
                  (click)="item.isSortable ? sortTable(item.jsonKey) : null"
                  [ngClass]="{'active': sorting.column === item.jsonKey, 'cursor-pointer':item.isSortable}">
                  <div class="flex  align-items-start">
                    <span class="" [textContent]="item.name"></span>
                    <span class="icon cursor-pointer ml-[3px]" *ngIf="item.isSortable">
                      <div class="sortposition" *ngIf="sorting.column !== item.jsonKey">
                        <span class="icon icon-sort"></span>
                      </div>
                      <div class="arrowsortposition   mt-2px" *ngIf="sorting.column === item.jsonKey">
                        <span class="icon icon-ascending-sort" *ngIf="sorting.direction === 'asc'"></span>
                        <span class="icon icon-descending-sort" *ngIf="sorting.direction === 'desc'"></span>
                      </div>
                    </span>
                  </div>
                </th>
            </ng-container>

            <!-- Table Body -->
            <ng-container ecw-tbody class="ecw-child-table custom-height ">
              <ng-template ngIf="true">
                <ng-container *ngFor="let item of tableData; let i = index">
                  <tr class="cursor-pointer">
                    <td [ngStyle]="tableSettings[0]" [class.text-wrap]="tableOptions.textWrapping">
                      <span class="text-underline truncate-tooltip" [ngClass]="isTooltipEnable ? 'cursor-pointer' : ''"
                        pTooltip="{{item.pharmacyName}}" tooltipPosition="bottom"
                        tooltipStyleClass="custom-white-tooltip fixTooltipWidth" [(tooltipState)]="!isTooltipEnable"
                        [textContent]="item.pharmacyName"></span>
                    </td>

                    <td [ngStyle]="tableSettings[1]" [class.text-wrap]="tableOptions.textWrapping">
                      <span class="text-underline truncate-tooltip" [ngClass]="isTooltipEnable ? 'cursor-pointer' : ''"
                        pTooltip="{{item.manufacturer}}" tooltipPosition="bottom"
                        tooltipStyleClass="custom-white-tooltip fixTooltipWidth" [(tooltipState)]="!isTooltipEnable"
                        [textContent]="item.manufacturer"></span>
                    </td>

                    <td [ngStyle]="tableSettings[2]" [class.text-wrap]="tableOptions.textWrapping">
                      <span class="text-underline truncate-tooltip" [ngClass]="isTooltipEnable ? 'cursor-pointer' : ''"
                        pTooltip="{{item.productName}}" tooltipPosition="bottom"
                        tooltipStyleClass="custom-white-tooltip fixTooltipWidth" [(tooltipState)]="!isTooltipEnable"
                        [textContent]="item.productName"></span>
                    </td>

                    <td [ngStyle]="tableSettings[3]" [class.text-wrap]="tableOptions.textWrapping">
                      <span class="text-underline truncate-tooltip" [ngClass]="isTooltipEnable ? 'cursor-pointer' : ''"
                        pTooltip="{{item.ndc}}" tooltipPosition="bottom"
                        tooltipStyleClass="custom-white-tooltip fixTooltipWidth" [(tooltipState)]="!isTooltipEnable"
                        [textContent]="item.ndc"></span>
                    </td>

                    <td [ngStyle]="tableSettings[4]" [class.text-wrap]="tableOptions.textWrapping">
                      <span class="text-underline truncate-tooltip" [ngClass]="isTooltipEnable ? 'cursor-pointer' : ''"
                        pTooltip="{{item.brand}}" tooltipPosition="bottom"
                        tooltipStyleClass="custom-white-tooltip fixTooltipWidth" [(tooltipState)]="!isTooltipEnable"
                        [textContent]="item.brand"></span>
                    </td>

                    <td class="text-right" [ngStyle]="tableSettings[5]" [class.text-wrap]="tableOptions.textWrapping">
                      <span class="text-underline truncate-tooltip" [ngClass]="isTooltipEnable ? 'cursor-pointer' : ''"
                        pTooltip="{{item.packageSize}}" tooltipPosition="bottom"
                        tooltipStyleClass="custom-white-tooltip fixTooltipWidth" [(tooltipState)]="!isTooltipEnable"
                        [textContent]="item.packageSize"></span>
                    </td>

                    <td class="text-right" [ngStyle]="tableSettings[6]" [class.text-wrap]="tableOptions.textWrapping">
                      <span class="text-underline truncate-tooltip" [ngClass]="isTooltipEnable ? 'cursor-pointer' : ''"
                        pTooltip="{{item.activeAccumulator}}" tooltipPosition="bottom"
                        tooltipStyleClass="custom-white-tooltip fixTooltipWidth" [(tooltipState)]="!isTooltipEnable"
                        [textContent]="item.activeAccumulator"></span>
                    </td>

                    <td class="text-right" [ngStyle]="tableSettings[7]" [class.text-wrap]="tableOptions.textWrapping">
                      <span class="text-underline truncate-tooltip" [ngClass]="isTooltipEnable ? 'cursor-pointer' : ''"
                        pTooltip="{{item.unitsReady}}" tooltipPosition="bottom"
                        tooltipStyleClass="custom-white-tooltip fixTooltipWidth" [(tooltipState)]="!isTooltipEnable"
                        [textContent]="item.unitsReady"></span>
                    </td>

                    <td class="text-right" [ngStyle]="tableSettings[8]" [class.text-wrap]="tableOptions.textWrapping">
                      <span class="text-underline truncate-tooltip" [ngClass]="isTooltipEnable ? 'cursor-pointer' : ''"
                        pTooltip="{{item.unitsDispensed}}" tooltipPosition="bottom"
                        tooltipStyleClass="custom-white-tooltip fixTooltipWidth" [(tooltipState)]="!isTooltipEnable"
                        [textContent]="item.unitsDispensed"></span>
                    </td>

                    <td class="text-right" [ngStyle]="tableSettings[9]" [class.text-wrap]="tableOptions.textWrapping">
                      <span class="text-underline truncate-tooltip" [ngClass]="isTooltipEnable ? 'cursor-pointer' : ''"
                        pTooltip="{{item.packagePrice}}" tooltipPosition="bottom"
                        tooltipStyleClass="custom-white-tooltip fixTooltipWidth" [(tooltipState)]="!isTooltipEnable"
                        [textContent]="item.packagePrice"></span>
                    </td>

                  </tr>
                </ng-container>


                <ng-container *ngIf="tableData?.length == 0">
                  <tr>
                    <td>
                      <div class="flex align-items-center justify-content-center fs11">No records to
                        view</div>
                    </td>
                  </tr>

                </ng-container>
              </ng-template>
            </ng-container>

            <ng-container buttonPanel>
              <!-- <button class="btn-primary ml-auto" [disabled]="!selectedRow">OK</button> -->
              <button class="btn-secondary ml8">Close</button>
            </ng-container>
          </lib-simple-table>
        </section>
      </ng-template>
    </p-tabPanel>
    <p-tabPanel header="User">
      <p>
      </p>
    </p-tabPanel>
    <p-tabPanel header="Trip">
      <p>
      </p>
    </p-tabPanel>
  </p-tabView>
</div>