<div class="bg-primary px-[10px] py-[5px] font-bold text-[14px] text-white">Dashboard</div>
<div class="mt-4">
  <p-tabView styleClass="emr-primary-tabs" class="overflow-hidden" [(activeIndex)]="activeTabIndex">
    <p-tabPanel header="Overview" [selected]="activeTabIndex === 0">
      <ng-template pTemplate="header">
        <a [routerLink]="['/overview']" (click)="activeTabIndex = 0">Overview</a>
      </ng-template>
    </p-tabPanel>
  
    <p-tabPanel header="Driver" [selected]="activeTabIndex === 1">
      <ng-template pTemplate="header">
        <a [routerLink]="['/driver']" (click)="activeTabIndex = 1">Driver</a>
      </ng-template>
    </p-tabPanel>
  
    <p-tabPanel header="User" [selected]="activeTabIndex === 2">
      <ng-template pTemplate="header">
        <a [routerLink]="['/user']" (click)="activeTabIndex = 2">User</a>
      </ng-template>
    </p-tabPanel>
  
    <p-tabPanel header="Trip" [selected]="activeTabIndex === 3">
      <ng-template pTemplate="header">
        <a [routerLink]="['/trip']" (click)="activeTabIndex = 3">Trip</a>
      </ng-template>
    </p-tabPanel>
  </p-tabView>
  <!-- Single RouterOutlet to render tab content -->
  <router-outlet></router-outlet>
</div>
<p-toast />
<p-confirmDialog />